altgraph==0.17.2
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1637703192903/work/dist
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1613037097816/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
attrs==21.2.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach @ file:///tmp/build/80754af9/bleach_1628110601003/work
brotlipy==0.7.0
build==0.7.0
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
colorama==0.4.4
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1633983253955/work
cvxopt==1.2.7
cvxpy==1.1.18
cycler==0.11.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docutils==0.18.1
ecos==2.0.8
entrypoints==0.3
fonttools==4.28.2
-e git+https://github.com/MagedMohamedTurk/Turbomachinery-Rotors-Balancing.git@dd3e4d3e67f61802067303dcc95e64359f76bed6#egg=hsbalance
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1631916695836/work
iniconfig==1.1.1
ipykernel @ file:///tmp/build/80754af9/ipykernel_1633545412716/work/dist/ipykernel-6.4.1-py3-none-any.whl
ipympl==0.8.2
ipython @ file:///tmp/build/80754af9/ipython_1635943998418/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.5
jedi==0.18.0
jeepney==0.7.1
Jinja2 @ file:///tmp/build/80754af9/jinja2_1635780242639/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1637148478538/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1636524756443/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1639084645710/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1639150690547/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1639404907821/work
jupyterlab-spellchecker @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-spellchecker_1633697061174/work
jupyterlab-widgets==1.0.2
kaggle==1.5.12
keyring==23.4.0
kiwisolver==1.3.2
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528148836/work
matplotlib==3.5.0
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mip==1.13.0
mip-cvxpy==0.0.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1635423142362/work
nb-conda==2.2.1
nb-conda-kernels @ file:///tmp/build/80754af9/nb_conda_kernels_1606775941989/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1624479060632/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
notebook @ file:///tmp/build/80754af9/notebook_1637161770985/work
numpy==1.21.5
osqp==0.6.2.post0
packaging==21.0
pandas==1.3.5
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120460739/work
parso==0.8.2
patsy==0.5.2
pbr==5.7.0
pep517==0.12.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pkginfo==1.8.2
pluggy==1.0.0
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1637050397234/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pudb==2021.1
py==1.10.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.10.0
pyinstaller==4.8
pyinstaller-hooks-contrib==2022.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing==2.4.7
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404924/work
pytest==6.2.5
pytest-pudb==0.7.0
pytest-timeout==2.0.1
python-dateutil==2.8.2
python-slugify==5.0.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1628276010766/work
qdldl==0.1.5.post0
readme-renderer==32.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
requests-toolbelt==0.9.1
rfc3986==1.5.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
scipy==1.7.3
scs==3.0.0
SecretStorage==3.3.1
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
setuptools-scm==6.3.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1635844649950/work
statsmodels==0.13.1
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
testresources==2.0.1
text-unidecode==1.3
timeout==0.1.2
toml==0.10.2
tomli==1.2.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm==4.62.3
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
twine==3.7.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
urwid==2.1.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1638949723239/work
widgetsnbextension==3.5.2
xpress==8.13.2
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
